<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <p>
        Me llamo Gustavo Correa. Pertenezco a un grupo de la Iglesia Católica llamado "Legión de María".
    </p>
</div> 
<div>
    <p>
        El proyecto trata de la gestión de información del grupo. Mas precisamente, acerca de los informes de trabajo que realizan los socios activos. 
    </p>
</div> 

</body>
</html>
