{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear post</title>
    <link rel="shortcut icon" href="{% static 'accounts/img/ico/crear_post.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sceditor@3/minified/themes/default.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sceditor@3/minified/sceditor.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <form action="{% url 'accounts:crear-post' %}" class="box" method="post">
        {% csrf_token %}
        <label for="file" class="label">Imagen del post<input type="file" id="file" class="input" name="img"
                value="{{img}}"></label>
        <label for="titulo" class="label">Titulo del post<input type="text" class="input" name="titulo" id="titulo"
                placeholder="Escribe el titulo de tu post" value="{{titulo}}"></label>
        <textarea name="contenido" class="textarea has-fixed-size" id="example" cols="30" rows="50"
            style="width: 100%;">
            {{contenido}}
        </textarea>
        <input type="submit" class="button is-success is-outlined" value="enviar">
    </form>

    <script src="https://cdn.jsdelivr.net/npm/sceditor@3/minified/formats/xhtml.min.js"></script>
    <script>
        // Replace the textarea #example with SCEditor
        var textarea = document.getElementById('example');
        sceditor.create(textarea, {
            format: 'xhtml',
            style: 'https://cdn.jsdelivr.net/npm/sceditor@3/minified/themes/content/default.min.css'
        });
    </script>
</body>

</html>